@import "bootstrap-4.5.0/scss/vendor/_rfs.scss";
@import "bootstrap-4.5.0/scss/bootstrap.scss";

  $highlight:rgb(45, 224, 255);
  body{
    background-color: #0B132B;
  }
  
  .border-spacer{
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #c21829;
  }
  
  .header{
      border-style: solid;
      border-color: white;
      padding: 3px;
      align-self: center;
  }
  
  .projectContainer { 
    position: relative;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .projectVideo {
    display: block;
    width: 100%;
    height: auto;
    border: 3px solid;
    border-color: $highlight;
  }

  .projectImg {
    display: block;
    width: 100%;
    height: 50%;
    border: 3px solid;
    border-color: $highlight;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0,0,0,0.7)
  }
  
  .projectContainer:hover .overlay {
    opacity: 1;
  }
  
  .projectTitle{
    padding-left: 1rem;
    padding-top: 1vh;
    font-family: Quicksand, sans-serif;
    @include font-size(4vmin);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  .aboutmeTitle{
    padding-left: 1rem;
    padding-top: 1vh;
    font-family: Quicksand, sans-serif;
    @include font-size(2rem);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .aboutmeSubtitle{
    padding-left: 1rem;
    padding-top: 1vh;
    font-family: Quicksand, sans-serif;
    @include font-size(4rem);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
  }

  .projectTech{
    padding-left: 1rem;
    font-family: Quicksand, sans-serif;
    @include font-size(1vmax);
    color: #fff;
    font-weight: 700;
    width:50vw;
  }
  
  .projectDescription{
    padding-left: 1rem;
    font-family: Quicksand, sans-serif;
    @include font-size(1.2vmax);
    color: #fff;
    font-weight: 500;
    width:90%;
  }
  
  .aboutmeDescription{
    padding-left: 1rem;
    font-family: Quicksand, sans-serif;
    @include font-size(1.5rem);
    color: #fff;
    font-weight: 500;
    width:75vw;
  }
  .employer{
    color: $highlight;
  }

  .highlight{
    color: $highlight;
  }
  
  .cardTitle{
    background-color: #3A506B;
  }
  
  .cardBody{
    background-color: #1C2541;
  }
  .position{
    color: #CCD7F5;
  }
  .experienceList{
    color: #8893AF;
  }
  
  .section{
    min-height: 100vh;
  }
  

.btn-outline-primary {
    @include button-outline-variant($highlight);
}

.aboutFlex{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}


.aboutColumn{
    display:flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
}

.aboutImg{
    max-height: 70vh;
    max-width: 50vw;
    border: 3px solid;
    border-color: $highlight;
}
  
  .fa {
    padding: 20px;
    
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-icon {
    background:  #1C2541;
    color: $highlight;
    border: 2px solid;
    border-color: $highlight;
  }

@media screen and (max-device-width: 800px) {
    .aboutFlex{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .aboutColumn{
        display:flex;
        flex-direction: column;
        align-items: flex-center;
        width: 100%;
    }

    .aboutImg{
        max-height: 50vh;
        width: 50vh;
    }
  }
  